<!--Page Content-->
<div class="page-content">

  <!--Hero Slider-->
  <section class="hero-slider fullscreen">
    <div class="master-slider" id="fullscreen-slider">

      <!--Slide 1-->
      <div class="ms-slide" data-delay="7">
        <div class="overlay"></div>
        <img src="masterslider/blank.gif" data-src="img/carpapapa/hero1.jpg"/>
        <h2 style="width: 1000px;" class="light-color ms-layer" data-effect="top(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">Large inventory</h2>
        <p style="width: 456px;" class="light-color ms-layer" data-effect="back(500)" data-duration="700" data-delay="500" data-ease="easeOutQuad">Located in Seattle downtown.</p>
        <div class="ms-layer button" data-effect="bottom(50,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#!/buy">Check it out!</a></div>
      </div>

      <!--Slide 2-->
      <div class="ms-slide" data-delay="7">
        <span class="overlay"></span>
        <img src="masterslider/blank.gif" data-src="img/carpapapa/hero2.jpg"/>
        <h2 style="width: 1000px;" class="light-color ms-layer" data-effect="bottom(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">Personalize vehicles</h2>
        <p style="width: 456px;" class="light-color ms-layer" data-effect="bottom(50,true)" data-duration="700" data-delay="500" data-ease="easeOutQuad">Help customers find their dream vehicles.</p>
        <div class="ms-layer button" data-effect="rotatebottom(30|90,long,br,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#!/buy">Check it out!</a></div>
      </div>

      <!--Slide 3-->
      <div class="ms-slide" data-delay="7">
        <span class="overlay"></span>
        <img src="masterslider/blank.gif" data-src="img/carpapapa/hero3.jpg"/>
        <h2 style="width: 1000px;" class="light-color ms-layer" data-effect="bottom(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">All terrain</h2>
        <p style="width: 456px;" class="light-color ms-layer" data-effect="bottom(50,true)" data-duration="700" data-delay="500" data-ease="easeOutQuad">Vehicles to conquer all weather and terrain.</p>
        <div class="ms-layer button" data-effect="rotatebottom(30|90,long,br,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#!/buy">Check it out!</a></div>
      </div>

      <!--Slide 4-->
      <div class="ms-slide" data-delay="7">
        <div class="overlay"></div>
        <img src="masterslider/blank.gif" data-src="img/carpapapa/hero4.jpg"/>
        <h2 style="width: 1000px;" class="light-color ms-layer" data-effect="left(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">Little fun</h2>
        <p style="width: 456px;" class="light-color ms-layer" data-effect="left(50,true)" data-duration="700" data-delay="500" data-ease="easeOutQuad">Spicy up your daily routine.</p>
        <div class="ms-layer button" data-effect="left(50,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#!/buy">Check it out!</a></div>
      </div>

    </div>
  </section><!--Hero Slider Close-->

  <!--Technical Specifications-->
  <!-- <section class="tech-specs">
    <div class="container">
      <h2>Tech specs</h2>
      <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="item">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-3"><i class="icon-expand"></i><span>Fit</span></div>
              <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">Adjustable nosepads and durable frame fits any face.
  Extra nosepads in two sizes.</p></div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-3"><i class="icon-tv-monitor"></i><span>Display</span></div>
              <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">High resolution display is the equivalent of a 25 inch high definition screen from eight feet away.</p></div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-3"><i class="icon-camera-1"></i><span>Camera</span></div>
              <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">Photos - 5 MP<br/>Videos - 720p</p></div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-3"><i class="icon-headphones"></i><span>Audio</span></div>
              <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">Bone Conduction Transducer</p></div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-3"><i class="icon-share"></i><span>Connectivity</span></div>
              <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">Wifi - 802.11b/g<br/>Bluetooth</p></div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4"><i class="icon-accelerator"></i><span>Storage</span></div>
              <div class="col-lg-8 col-md-8 col-sm-8"><p class="p-style2">12 GB of usable memory, synced with Google cloud storage. 16 GB Flash total.</p></div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="item">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4"><i class="icon-expand"></i><span>Fit</span></div>
              <div class="col-lg-8 col-md-8 col-sm-8"><p class="p-style2">Adjustable nosepads and durable frame fits any face.
  Extra nosepads in two sizes.</p></div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4"><i class="icon-tv-monitor"></i><span>Display</span></div>
              <div class="col-lg-8 col-md-8 col-sm-8"><p class="p-style2">High resolution display is the equivalent of a 25 inch high definition screen from eight feet away.</p></div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4"><i class="icon-camera-1"></i><span>Camera</span></div>
              <div class="col-lg-8 col-md-8 col-sm-8"><p class="p-style2">Photos - 5 MP<br/>Videos - 720p</p></div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4"><i class="icon-headphones"></i><span>Audio</span></div>
              <div class="col-lg-8 col-md-8 col-sm-8"><p class="p-style2">Bone Conduction Transducer</p></div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4"><i class="icon-share"></i><span>Connectivity</span></div>
              <div class="col-lg-8 col-md-8 col-sm-8"><p class="p-style2">Wifi - 802.11b/g<br/>Bluetooth</p></div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4"><i class="icon-accelerator"></i><span>Storage</span></div>
              <div class="col-lg-8 col-md-8 col-sm-8"><p class="p-style2">12 GB of usable memory, synced with Google cloud storage. 16 GB Flash total.</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--Technical Specifications Close-->

  <!--Info Block with Parallax Background-->
  <section style="background-image: url(img/info-blocks/parallax-bg-img2.jpg);" class="info-block-image" data-stellar-vertical-offset="530" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="color-box">
            <h2>How it works?</h2>
            <div class="tiles">
              <div><i class="fa fa-lightbulb-o"></i><span>Find some ideas</span></div>
              <div><i class="fa fa-phone"></i><span>Contact us</span></div>
              <div><i class="fa fa-car"></i><span>Come get your car</span></div>
            </div>
            <a class="btn btn-primary" href="#!/buy">Check Inventory</a>
          </div>
        </div>
      </div>
    </div>
  </section><!--Info Block Close-->

  <!--Posts/Twitter Widget-->
  <!-- <section class="posts-widget">
    <div class="tw-bg"></div>
    <div class="container">
      <div class="row">
        <div class="latest-posts col-lg-8 col-md-8">
          <div class="row">
            <div class="col-lg-3">
              <h2 class="extra-bold">Latests posts</h2>
              <a class="btn btn-success btn-block" href="#">To blog</a>
            </div>
            <div class="col-lg-9">

              <div class="post row">
                <div class="col-lg-6 col-sm-6">
                  <a href="#"><img src="img/posts-widget/1.jpg" alt="1"/></a>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <h3><a href="#">Another Title</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    <div class="author"><i class="fa fa-user"></i><a href="#">By Bedismo</a></div>
                    <div class="comments"><i class="fa fa-comment"></i><a href="#">Comments (34)</a></div>
                </div>
              </div>

              <div class="post row">
                <div class="col-lg-6 col-sm-6">
                  <a href="#"><img src="img/posts-widget/1.jpg" alt="2"/></a>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <h3><a href="#">Awesome Title</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    <div class="author"><i class="fa fa-user"></i><a href="#">By Jeddah</a></div>
                    <div class="comments"><i class="fa fa-comment"></i><a href="#">Comments (101)</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="twitter-feed col-lg-4 col-md-4">
          <a class="tw-follow" href="https://twitter.com/8Guild" target="_blank">
            <div class="button">Follow us<i class="fa fa-twitter"></i></div>
            <h2 class="extra-bold">On Twitter <i class="fa fa-twitter"></i></h2>
          </a>

          <div class="tweet">
            <a href="#">@Bedismo</a>
            <p class="p-style3">Uberly impressed with the AMAZING support I constantly get from awesome!!!</p>
            <div class="group">
              <div class="actions">
                <a href="#">Reply</a>
                <a href="#">Retweet</a>
                <a href="#">Favorite</a>
              </div>
              <span class="date">5 Mar 2014</span>
            </div>
          </div>

          <div class="tweet">
            <a href="#">@Bedismo</a>
            <p class="p-style3">Uberly impressed with the AMAZING support I constantly get from awesome!!!</p>
            <div class="group">
              <div class="actions">
                <a href="#">Reply</a>
                <a href="#">Retweet</a>
                <a href="#">Favorite</a>
              </div>
              <span class="date">5 Mar 2014</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</div><!--Page Content Close-->
