<!--Page Content-->
<div class="page-content">

  <!--Breadcrumbs-->
  <!-- <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="#!/buy">Inventory</a></li>
    <li>{{product.make}} {{product.model}}</li>
  </ol> -->
  <!--Breadcrumbs Close-->

  <div style="margin:15px 0 0 15px; color:#666">
      <a href="http://carpapapa.com" style="color:#666"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp; Back</a>
  </div>

  <!--Shopping Cart Message-->
  <!-- <section class="cart-message">
  	<i class="fa fa-check-square"></i>
    <p class="p-style3">"Nikon" was successfully added to your cart.</p>
    <a class="btn-outlined-invert btn-success btn-sm" href="shopping-cart.html">View cart</a>
  </section> -->
  <!--Shopping Cart Message Close-->

  <!--Catalog Single Item-->
  <section class="catalog-single" style="text-align:left">
  	<div class="container">
      <div class="row">
        <div class="col-md-12 hidden-md hidden-lg" style="margin-bottom:24px">
            <div style="padding:0 10px">
                <div><span style="font-size:36px; font-weight:400">{{product.year}} {{product.make}} {{product.model}}</span></div>
                <div>
                    <span style="font-size:24px; font-weight:500">
                        {{product.price | currency:"$":0}}
                    </span>&nbsp;&nbsp;&nbsp;
                    <span style="color:#666">
                        {{product.mileage | number:0}} miles
                    </span>
                </div>
            </div>
        </div>

      	<!--Product Gallery-->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                  <div class="prod-gal master-slider" id="prod-gal">
                  </div>
                </div>
                <div class="col-md-4 hidden-xs hidden-sm">
                    <div class="row" style="margin-bottom:24px">
                        <div class="col-md-12">
                            <span style="font-size:36px; font-weight:400">{{product.year}} {{product.make}} {{product.model}}</span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:36px">
                        <div class="col-md-6">
                            <div style="color:#666">
                                Listing Price
                            </div>
                            <div style="font-size:36px;font-weight:500">
                                {{product.price | currency:"$":0}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div style="color:#666">
                                Mileage
                            </div>
                            <div style="font-size:36px;font-weight:500">
                                {{product.mileage | number:0}}
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:36px">
                        <div class="col-md-12">
                            <div style="border:1px solid #000;padding:12px;border-radius:6px">
                                <div class="row" style="margin-bottom:12px;text-align:center">
                                    <div class="col-md-12">
                                        Fuel Economy
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom:12px">
                                    <div class="col-md-12" style="text-align:center;">
                                        <div style="display:inline-block;vertical-align:middle">
                                            <div style="font-size:14px;color:#666">City:</div>
                                            <div style="font-size:36px;font-weight:800">{{product.mpgCity}}</div>
                                        </div>
                                        <img style="display:inline-block;margin:0 30px;vertical-align:middle" src="/img/carpapapa/fuel_icon.png" alt="Smiley face" height="56" width="56">
                                        <div style="display:inline-block;vertical-align:middle">
                                            <div style="font-size:14px;color:#666">Hwy:</div>
                                            <div style="font-size:36px;font-weight:800">{{product.mpgHighway}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="text-align:center">
                                    <div class="col-md-12" style="font-size:10px;color:#666">
                                        Actual results will vary for many reasons, including driving conditions and how you drive and maintain your vehicle.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:36px">
                        <div class="col-sm-12" style="text-align:center">
                            <div style="font-size:22px; font-weight:600">Carpapapa</div>
                            <div style="padding-top:10px">
                                <div><i class="fa fa-phone" aria-hidden="true"></i> <a style="color:#337ab7; font-size:20px; padding-right:5px; font-weight:400; font-size:14px;" href="tel:1-206-602-6047">&nbsp(206) 602-6047</a></div>
                                <div><i class="fa fa-map-marker" aria-hidden="true"></i> <a style="color:#337ab7; font-size:20px; padding-right:5px; font-weight:400; font-size:14px;" href="http://maps.google.com/?q=Carpapapa+Auto+Group" target="_blank">&nbsp1111 24th AVE, Seattle, WA 98122</a></div>
                                <div><i class="fa fa-clock-o" aria-hidden="true"></i> <span style="font-weight:400; font-size:14px;">&nbsp{{hours}}</span></div>
                            </div>
                            <div style="font-weight:300; font-size:14px"></div>
                            <div style="padding-top:10px">
                                <a style="color:#337ab7;font-size:20px;padding-right:5px" href="https://www.instagram.com/carpapapa/" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a style="color:#337ab7;font-size:20px;padding-right:5px" href="https://www.youtube.com/channel/UCHvJtny126Gh7bxRRfUX_qA" target="_blank"><i class="fa fa-youtube-square"></i></a>
                                <a style="color:#337ab7;font-size:20px;padding-right:5px" href="https://www.facebook.com/carpapapa/" target="_blank"><i class="fa fa-facebook-square"></i></a>
                                <a style="color:#337ab7;font-size:20px;padding-right:5px" href="https://www.yelp.com/biz/carpapapa-auto-group-seattle" target="_blank"><i class="fa fa-yelp"></i></a>
                                <a style="color:#337ab7;font-size:20px;padding-right:5px" href="weixin://dl/chat?taison-" target="_blank"><i class="fa fa-weixin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!--Product Description-->
        <!-- <div class="col-lg-6 col-md-6 visible-md-block visible-lg-block">
          <h1>{{product.year}} {{product.make}} {{product.model}}</h1>
          <div class="price">{{product.price | currency:"$":0}}</div>
          <span style="color:#b2b2b2;">{{product.mileage | number:0}} mi</span>
        </div> -->
      </div>
    </div>
  </section><!--Catalog Single Item Close-->

  <section style="margin-bottom:36px">
      <div class="container hidden-md hidden-lg">
          <div class="row" style="padding:0 10px">
              <div class="col-sm-12">
                  <div style="font-size:22px; font-weight:600">Carpapapa</div>
                  <div style="padding-top:10px">
                      <div><i class="fa fa-map-marker" aria-hidden="true"></i> <a style="color:#337ab7; font-size:20px; padding-right:5px; font-weight:400; font-size:14px;" href="http://maps.google.com/?q=Carpapapa+Auto+Group" target="_blank">&nbsp1111 24th AVE, Seattle, WA 98122</a></div>
                      <div><i class="fa fa-phone" aria-hidden="true"></i> <a style="color:#337ab7; font-size:20px; padding-right:5px; font-weight:400; font-size:14px;" href="tel:1-206-602-6047">&nbsp(206) 602-6047</a></div>
                      <div><i class="fa fa-clock-o" aria-hidden="true"></i> <span style="font-weight:400; font-size:14px;">&nbsp{{hours}}</span></div>
                  </div>
                  <div style="font-weight:300; font-size:14px"></div>
                  <div style="padding-top:10px">
                      <a style="color:#337ab7;font-size:20px;padding-right:5px" href="https://www.instagram.com/carpapapa/" target="_blank"><i class="fa fa-instagram"></i></a>
                      <a style="color:#337ab7;font-size:20px;padding-right:5px" href="https://www.youtube.com/channel/UCHvJtny126Gh7bxRRfUX_qA" target="_blank"><i class="fa fa-youtube-square"></i></a>
                      <a style="color:#337ab7;font-size:20px;padding-right:5px" href="https://www.facebook.com/carpapapa/" target="_blank"><i class="fa fa-facebook-square"></i></a>
                      <a style="color:#337ab7;font-size:20px;padding-right:5px" href="https://www.yelp.com/biz/carpapapa-auto-group-seattle" target="_blank"><i class="fa fa-yelp"></i></a>
                      <a style="color:#337ab7;font-size:20px;padding-right:5px" href="weixin://dl/chat?taison-" target="_blank"><i class="fa fa-weixin"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section style="font-weight:300; margin-bottom:36px">
      <div class="container">
          <div class="row">
              <div style="margin:0 15px">
                  <div style="border-top:1px solid #dddddd; padding:10px 15px">
                      <div style="font-size:22px" ng-click="openSpecification()">
                          Specification
                          <span class="pull-right" style="line-height:inherit;"><i class="fa fa-angle-down"></i></span>
                      </div>
                      <div ng-if="accordion.isSpecificationOpen" style="font-size:14px; padding:12px">
                          <div ng-if="product.engine"><span style="font-weight:500">Engine: </span>{{product.engine}}</div>
                          <div ng-if="product.horsePower"><span style="font-weight:500">Horsepower: </span>{{product.horsePower}} hp</div>
                          <div ng-if="product.torque"><span style="font-weight:500">Torque: </span>{{product.torque}} lb-ft</div>
                          <div ng-if="product.mpgCity || product.mpgHighway"><span style="font-weight:500">MPG: </span>{{product.mpgCity}} city / {{product.mpgHighway}} highway</div>
                          <div ng-if="product.drivetrain"><span style="font-weight:500">Drivetrain: </span>{{product.drivetrain}}</div>
                      </div>
                  </div>
                  <div ng-if="options.exterior.length > 0" style="border-top:1px solid #dddddd; padding:10px 15px">
                      <div style="font-size:22px" ng-click="openExterior()">
                          Exterior
                          <span class="pull-right" style="line-height:inherit;"><i class="fa fa-angle-down"></i></span>
                      </div>
                      <div ng-if="accordion.isExteriorOpen" style="font-size:14px; padding:12px">
                          <div ng-repeat="exterior in options.exterior">
                              <i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;&nbsp; {{exterior}}
                          </div>
                      </div>
                  </div>
                  <div ng-if="options.interior.length > 0" style="border-top:1px solid #dddddd; padding:10px 15px">
                      <div style="font-size:22px" ng-click="openInterior()">
                          Interior
                          <span class="pull-right"style="line-height:inherit;"><i class="fa fa-angle-down"></i></span>
                      </div>
                      <div ng-if="accordion.isInteriorOpen" style="font-size:14px; padding:12px">
                          <div ng-repeat="interior in options.interior">
                              <i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;&nbsp; {{interior}}
                          </div>
                      </div>
                  </div>
                  <div ng-if="options.safety.length > 0" style="border-top:1px solid #dddddd; padding:10px 15px">
                      <div style="font-size:22px" ng-click="openSafety()">
                          Safety
                          <span class="pull-right"style="line-height:inherit;"><i class="fa fa-angle-down"></i></span>
                      </div>
                      <div ng-if="accordion.isSafetyOpen" style="font-size:14px; padding:12px">
                          <div class="item" ng-repeat="safety in options.safety">
                              <i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;&nbsp; {{safety}}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!--Tabs Widget-->
  <section class="tabs-widget" ng-if="false">
    <uib-tabset active="active">
      <!--Tab1 (Tech Specs)-->
      <uib-tab index="0" heading="Features">
        <div class="container">
          <div class="row">
            <section class="tech-specs">
                <div class="container">
                  <div class="row">
                    <!--Column 1-->
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <!--Item-->
                      <div class="item" ng-repeat="option in options" ng-if="$even">
                        <div class="row">
                          <div class="col-lg-1 col-md-1 col-sm-2"><i class="fa fa-check-square"></i></div>
                          <div class="col-lg-11 col-md-11 col-sm-10"><p class="p-style2">{{option.option}}</p></div>
                        </div>
                      </div>
                    </div>
                    <!--Column 2-->
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <!--Item-->
                      <div class="item" ng-repeat="option in options" ng-if="$odd">
                        <div class="row">
                          <div class="col-lg-1 col-md-1 col-sm-2"><i class="fa fa-check-square"></i></div>
                          <div class="col-lg-11 col-md-11 col-sm-10"><p class="p-style2">{{option.option}}</p></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </section>
          </div>
        </div>
      </uib-tab>

      <!--Tab2 (Specification)-->
      <uib-tab index="1" heading="Specification">
          <div class="container">
            <div class="row">
              <section class="tech-specs">
                <div class="container">
                  <div class="row">
                      <h2 style="text-align:center">Coming Soon!</h2>
                    <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="item" ng-repeat="option in options" ng-if="$even">
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-3"><i class="fa fa-cog"></i></div>
                          <div class="col-lg-8 col-md-8 col-sm-9"><p class="p-style2">{{option.option}}</p></div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <div class="item" ng-repeat="option in options" ng-if="$odd">
                        <div class="row">
                          <div class="col-lg-3 col-md-4 col-sm-3"><i class="fa fa-cog"></i></div>
                          <div class="col-lg-9 col-md-8 col-sm-9"><p class="p-style2">{{option.option}}</p></div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </section>
            </div>
          </div>
      </uib-tab>
    </uib-tabset>
  </section><!--Tabs Widget Close-->
</div><!--Page Content Close-->
